.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.log
coverage/
*.tmp
*.bak
*.swp
Thumbs.db

.auixilary
*.aux
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
_build/


*.pyx
__pycache__/

venv/



# studeis data inside assignemnt3
assignemnt3/data/studies/

assignemnt3/code/aco_visualizations/
